{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.note_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.note_list'|trans }}</h1>
    {% if notes is defined and notes|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.content'|trans }}</th>
                <th scope="col">
                    {{ 'label.actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.content }}</td>
                    <td>
                        <a href="{{ url('note_show', {id: note.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        </t
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock  %}